# Automatically create 6LoWPAN interface for any IEEE 802.15.4 PHY

SUBSYSTEM=="net", SUBSYSTEMS=="ieee802154", ACTION=="add", RUN+="/sbin/ip link add link %k name lo%k type lowpan"
